
$color0: transparent; 
$color1: #fff;
$color2: #fcfcfc;
$color3: #f9f9f9;
$color4: #666;
$color5: #888;
$color6: #236398;

$appBackgroundColor: $color2;
$pollBoxBackgroundColor: $color3;
$pollBoxTitleColor: $color4;
